<% include header %>

<div class="container">

    <div class="jumbotron">

        <h1>Welcome to Ticket Counter!</h1>
    </div>

    <a class="btn btn-primary" href="/tickets">Show all tickets</a>
    <a class="btn btn-primary" href="/boughtTickets">Show bought tickets</a>
</div>
<% include footer %>
